body {
    background-color: khaki;
}

h1 {
    color: black;
    /* margin-left: 20px; */
}

div {
    background-color: lightblue;
    width: auto;
    /* border: 25px solid green; */
    padding: 25px 0px; 
    margin-bottom:10px;
    /* margin: 25px; */
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}

#img{
	
}